body {
    margin: 0;
    max-width: 1700px;
    min-height: 700px;
    margin: auto
}

div,
nav,
footer {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: #373150;
    transition: all 0.5s;
}

.fs-title {
    font-size: 32px;
}

.fs-big {
    font-size: 20px;
}

.fs-normal {
    font-size: 16px;
}

.fs-small {
    font-size: 12px;
}

.fc-gray {
    color: #828282;
}

.fw-bold {
    font-weight: 600;
}

.nav-container {
    height: 90px;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 5px 0px rgba(55, 49, 80, 0.2);
    -webkit-box-shadow: 0px 7px 5px 0px rgba(55, 49, 80, 0.2);
    -moz-box-shadow: 0px 7px 5px 0px rgba(55, 49, 80, 0.2);
}

.nav-title {
    cursor: pointer;
    height: 100%;
    padding: 20px 30px 20px 30px;
}

.nav-btn {
    cursor: pointer;
    width: 150px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    border: none;
    transition: all 0.5s;
}
.nav-btn:hover {
    background: #373150;
}
.nav-btn:hover > p {
    color: white;
}

.container {
    padding: 50px 150px 100px 150px;
    margin: auto;
}

footer {
    display: flex;
    align-items: center;
    background: #373150;
    width: 100%;
    padding: 10px 30px 10px 30px;
}
footer > .fs-big {
    margin-right: 30px;
}